{{#if user}}
<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Blog do Node</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da programação.</p>
  
</div>
{{else}}
<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Blog do Node</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da programação.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>
{{/if}}
<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card">
        <div class="card-body mt-4">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
            <hr>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <small>Data: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem!</h5> 
{{/each}}